# Whitelist pattern https://jasonstitt.com/gitignore-whitelisting-patterns
*
!*/

# Add meta
!/LICENSE
!/README.md

# Add git & GitHub
!/.git
!/.gitignore
!/.github/**

# Add Devcontainer
!/.devcontainer/devcontainer.json
!/.devcontainer/docker-compose.yml
!/.devcontainer/Dockerfile

# Add Docker
!/.dockerignore
!/Dockerfile

# Add version
!/VERSION

# Add Devtools
!/.vscode/**
!/envgen.sh
!/envgen.config
!/scripts/**
!/requirements.txt

# Add config, credentials, and endpoints files along with domain and data folders from source
!/src/components/**
!/src/core/**
!/src/locales/**
!/src/shared/**
!/src/__init__.py
!/src/run_rasa.py
!/tests/**

.generated
__pycache__